/* using flex box */
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    flex: 1;
}

html {
    /* this so main content area pushes footer down */
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



/* header section */
header {
    background-color: #3cb371;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    justify-content: space-between; /* Nav links on the right */
    align-items: center;
    margin-bottom: 2rem; /* Close the gap */
    width: 100%;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-right: 8rem;
}

header ul li a {
    text-decoration: none;
}

header ul li a, .hero-secondary-text {
    font-size: 1rem;
    color: #E5E7EB;
}

header .logo {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 6rem;

}

header .main-heading {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}

.header-content-left {
    display: flex;
    gap: 0.5rem;
    margin-left: 4rem;
}

.hero-main-text, .hero-secondary-text, header button {
    text-align: left;
}

.hero-main-text {
    line-height: 1.2;
}

.hero-secondary-text {
    line-height: 1.2;
    margin-bottom: 0px;
}

.heading-image {
    background-color: bisque;
    margin-left: 1rem;
    margin-right: 10rem;
    flex-shrink: 0; /* Prevents shrinking */
    width: 500px; /* Ensures the image placeholder doesn't shrink */
    padding: 6rem 2rem;
    text-align: center;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 600;
}

/* footer section */
footer {
   background-color: #3cb371; 
   color: white;
   padding: 1.5rem;
   text-align: center;
   width: 100%;
   bottom: 0;
   position: fixed; 
}
