/* Reset and font family */
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    background: #3cb371;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header h3 {
    margin: 0;
}

.header-links {
    display: flex;
    gap: 1rem;
}

.link p {
    margin: 0;
}

.hero-section {
    background: red;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
}

.hero {
    display: inline-block;
}

.hero p {
    max-width: 60%;
    margin: 1rem auto;
}

button {
    display: block;
    margin: 1rem auto;
}

.image {
    margin-top: 2rem;
}

/* quote section */
.quote-section {
    background-color: #ceebce;
    padding: 2rem;
    text-align: center;
}

.quote-section h5 {
    font-style: italic;
    margin-top: 0.5rem;
    text-align: right;
}

.quote-section p {
    font-style: italic;
    margin: auto;
    width: 60%;
}

/* action section */
.action-section {
    background-color: red;
    margin: 2rem;
    padding: 1rem;
}

.action {
    background-color: #3cb371;
}

/* footer section */
footer {
   background-color: #3cb371; 
   color: white;
   padding: 1.5rem;
   text-align: center;
   width: 100%;
   bottom: 0;
   position: relative; 
}
