/* using flex box */
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    flex: 1;
}

html {
    /* this so main content area pushes footer down */
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



/* header section */
header {
    
}




/* footer section */
footer {
   background-color: #3cb371; 
   color: white;
   padding: 1.5rem;
   text-align: center;
   width: 100%;
   bottom: 0;
   position: fixed; 
}
